<!DOCTYPE html>
<html dir="rtl" lang="fa"> 
<head>
<meta charset="UTF-8">
<title>0201  </title>     
</head>
<body>
<div id="test1">
test1 
</div>
<div>
<a href="/ali/iiii">{{myName}}</a>
</div>
<div>
    <form action="/ali/rr" name="testMain" method="post">
    <input name="mainInp" value="45" />
    <button type="submit" name="ss"> submit </button> </form>
</div>
</body>
</html>

