<!DOCTYPE html>
<html dir="rtl" lang="fa"> 
<head>
    <meta charset="UTF-8">
    <title> {{myTitle}}  </title>     
</head>
<body>
<div id="test1">
    <table border="1px">
    {% for item in allV %}
        <tr>
        {% for cells in item %}
            <td>{{cells}} </td>
        {% end %}
        </tr>
    {% end %}
    </table>
</div>
<div>
    <a href="/ali/iiii">link1</a>
</div>
</body>
</html>

