<!DOCTYPE html>
<html dir="rtl" lang="fa"> 
<head>
<meta charset="UTF-8">
<title>0201  </title>     
</head>
<body>
<div id="test1">
    <table border="1px">
        {% for item in allV %}
            {% if item[0] == 1365 %}
                <tr>
                    {% for cells in item %}
                        <td>{{cells}} </td>
                    {% end %}
                </tr>
            {% end %}
        {% end %}
    </table>
</div>
<div>
    &lt; kk
    <tr>eee</tr>
    &lt;tr&gt;ee  e &lt;tr&gt;
<a href="/ali/iiii">link1</a>
<br />
{{myTempVar}}
</div>
</body>
</html>

